{% extends 'base.html' %} 
{% load static %} 
{% block head %}
{% endblock %} 
{% block content %}

<section class="player-container">
    <div class="player-img">
    </div>
    <div class="player-details">
        <h1>{{ player.name }}</h1>
        <h3>{{ player.team }}</h3>
        <h3>{{ player.player_position }}</h3>
        <h3>{{ player.age }}</h3>
        <p>{{ player.description }}</p>
        {% for trophy in player.trophy_set.all %}
            <p>{{ trophy.get_trophy_display }}</p>
    </div>
    <div class="player-actions">
        <a href="{% url 'player-update' player.id %}" class="btn warn">Edit</a>
        <a href="{% url 'player-delete' player.id %}" class="btn danger">Delete</a>
    </div>
</section>
{% endblock %}