{% extends 'base.html' %} 
{% block content %}
<section class="page-header">
    <h1>Index for players</h1> 
</section>
<section class="card-container">
    {% for player in players %}
    <div class="card">
        <a href="/players/{{ player.id }}">
        <div class="card-content">
            <div class="card-img-container"></div>
            <h2 class="card-title">{{ player.name }}</h2>
            <h3 class="card-team">{{ player.team }}</h3>
            <h3>{{ player.player_position }}</h3>
            <h3>{{ player.age }}</h3>
            <h4>{{ player.description }}</h4>
        </div>
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %}